div {
    padding-top: 0.35%;
    padding-bottom: 0.35%;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus{
  cursor: default;
  color: #333333;
}

body {
  font-family: 'Georgia';
  text-align: left;
  padding-bottom: 20px;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h1, h2, li, .list-group-item.disabled {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333333;
}

h2 span { font-size:70%; }

#intro-header {
  background: url("../img/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  min-height: 450px;
  color: white;
}

#intro-header-text {
  padding: 5%;
}

.jumbotron {
  background: #ffffff;
  max-width: 1100px;
  margin: 0 auto;
}

.btn-group {
  margin: 10px;
}

.btn-secondary.active{
  background: rgba(0,158,224,0.5);
  color: #ffffff;
  border:none;
}
.bluebtn{
  background: rgba(0,158,224,0.5);
  color: #333333;
  border:none; 
}

.tglbtn:not(.active) {
  background-color: rgba(0,158,224,0.2);
  border:none;
}

.chart-title{
  font-family: 'Open Sans Condensed', sans-serif;
}


#chart6, #chart11, #chart12, #chart13{
  height:10vh
}

#chart14, #chart15, #chart16{
  height:40vh
}

.underlay {
  border-left:solid 6px #009ee0;
  background-color: rgba(0,158,224,0.5);
  color: #ffffff
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.container {
  position: relative;
}

.container div {
  position: relative;
  height: 100%;
}

.glyphicon-ok {
  margin-top: 13px;
  padding-right: 10px;
  visibility: hidden;
}


.customalert {
  padding-top: 2%;
  font-family: 'Open Sans Condensed', sans-serif;
  vertical-align: middle;
}

/* Navbar styles */

#rn-img {
    vertical-align: middle;
    padding-bottom: 5%;
    max-height: 50px;
    max-width: 70%;
}

/* Social media buttons */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  position: absolute;
  font-size: 170%;
  right: 2%;
  top: 15%;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 3.5vw;
  max-width:38px;
  min-width: 20px;
}



/* Sidebar Styles */


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    background-color: rgba(0,158,224,0.3);
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -180px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333333;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333333;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 120%;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #999999;
    background: none;
}

@media(min-width:768px) {

    body {
      font-size: 200%;
    }

    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 180px;
        margin-top: 60px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* Info Box */

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 5% 10% 5% 10%;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 150%;
    font-weight: bold;
}

.close:hover.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#info-btn {
  cursor: pointer;
}